@media screen and (max-width: 992px) {
  .header ul.menu {
    display: none !important;
  }
  .header .profile {
    display: none !important;
  }
  .header .search {
    width: 100%;
  }
  .header .search input {
    width: calc(100% - 54px) !important;
  }
  .header .search_box {
    width: 100%;
  }
  .header .burger {
    display: block !important;
  }
}
